.sidebar {
    background-color: #D3EEFF;
    border-radius: 20px;
    padding-right: 2em;
    margin-right: 2em;
    margin-top: 75px;
    top: 0;
    right: 0;
    position: absolute;
}

.profile {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.section {
    margin: 1em;
    padding: 0 2em 2em 2em;
    border-radius: 15px;
    width: 70%;
}

.center {
    text-align: center;
}

.alignPictureText {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#about {
    background-color: #E2FCDA;
}

#history {
    background-color: #CAF1E9;
}

#offer {
    background-color: #B5E6E5;
}

.headerSpacing {
    display: flex;
    margin-top: 2em;
}

#sections {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    background-color: #FCFAED;
}